@model HomeDetailsViewModel


@{
    ViewBag.Title= "Employee detail";
}


<h3>@ViewData["PageTitle"]</h3>

<div>
    Name: @ViewBag.employee.Name;
</div>
<div>
    Email: @ViewBag.employee.Email;
</div>
<div>
    Department: @ViewBag.employee.Department;
</div>
<br />
<div>
    Name: @Model.Employee.Name;
</div>
<div>
    Email: @Model.Employee.Email;
</div>
<div>
    Department: @Model.Employee.Department;
</div>

@section  Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}